@import "./colors.css";

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: var(--salmon-oscuro); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--salmon-oscuro),
    var(--naranja)

  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--salmon-oscuro),
    var(--naranja)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "IBM Plex Serif", serif;
}

.contenedor {
  background-color: white;
  min-height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

nav {
  background-color: var(--violeta-claro);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 20px;
}
nav ul li:hover {
  background-color: var(--violeta-oscuro);
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}
.sencillo ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sencillo ul li {
  text-align: center;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 780px) {
  .sencillo ul {
    flex-direction: row;
  }
}
.sencillo ul li {
  margin-bottom: 0;
}
/* iconos pelotudo */
.iconos .texto span {
  font-size: 0.8rem;
  display: block;
  margin-top: 0.5rem;
}
@media screen and (min-width: 480px) {
  .iconos ul {
    display: flex;
    flex-wrap: wrap;
  }
  .iconos ul li {
    flex: 0 1 50%;
  }
}
@media screen and (min-width: 780px) {
  .iconos ul li {
    flex: 1;
  }
}
.iconos ul li a {
  display: flex;
  justify-content: center;
}
.iconos .icono {
  flex: 0 1 2rem;
}
/* dropdown */
.dropdown ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .dropdown ul {
    flex-direction: row;
  }
}
.dropdown ul li {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .dropdown ul li {
    position: relative;
    display: flex;
    flex: 1 1 100%;
  }
  .dropdown ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--naranja-oscuro);
  }
  .dropdown ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
}
/* sociales */
.sociales ul li span {
  display: none;
}
.sociales ul {
  display: flex;
  justify-content: flex-end;
}
.sociales ul li a::before {
  font-family: "font awesome 5 brands";
}
.sociales ul li a[href*="facebook.com"]::before {
  content: "\f09a";
}
.sociales ul li a[href*="twitter.com"]::before {
  content: "\f099";
}
.sociales ul li a[href*="youtube.com"]::before {
  content: "\f167";
}
.sociales ul li a[href*="instagram.com"]::before {
  content: "\f16d";
}
.sociales ul li a[href*="pinterest.com"]::before {
  content: "\f231";
}
/* convinado social y dropdown */
.navegacion-social-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: var(--violeta-claro);
}
